* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0px;
}

u {
  text-decoration: underline;
}

nav {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
}

nav .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #292929;
  color: white;
  padding: 10px;
  position: relative;
}

nav .tools .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .tools .search-bar input {
  width: 300px;
  height: 30px;
  border: 0px;
  outline: none;
  padding: 0px 10px;
}

nav .tools .search-bar i {
  color: #292929;
  background: white;
  padding: 7px;
  cursor: pointer;
}

nav .tools .other {
  position: absolute;
  right: 60px;
}

nav .tools .other a {
  color: white;
  font-weight: 100;
  margin: 0px 5px;
}

nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: white;
  padding-right: 40px;
}

nav .navigation a {
  color: #292929;
  padding: 20px;
}

nav .navigation a:hover {
  color: rgba(0, 0, 0, 0.2);
}

nav .navigation .active {
  font-weight: bold;
}

.promotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 500px;
  color: white;
  background: #f51111;
  margin-bottom: 50px;
}

.promotion p:nth-child(1) {
  font-size: 80px;
  font-weight: bold;
}

.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  min-height: 500px;
  margin: 50px;
  color: #292929;
}

.showcase .title {
  width: 100%;
  font-size: 28px;
  font-weight: bolder;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.showcase .path {
  width: 100%;
  font-size: 20px;
  border-bottom: 2px solid #292929;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.showcase .path a {
  color: #292929;
}

.showcase .path a:hover {
  color: rgba(0, 0, 0, 0.2);
}

.showcase .view-more {
  background-color: white;
  color: #292929;
  border: 1px solid #292929;
  padding: 10px 20px;
  font-size: 14px;
  margin-top: 20px;
}

.showcase .view-more:hover {
  color: white;
  background-color: #292929;
}

.featured-items .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  width: 100%;
}

.featured-items .items .item1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 180px;
  margin: 10px;
}

.featured-items .items .item2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 10px;
}

.featured-items .items img {
  width: 100%;
  height: 100%;
}

.latest-products .items, .sale-items .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.latest-products .items a, .sale-items .items a {
  color: #292929;
}

.latest-products .items a .item, .sale-items .items a .item {
  width: 300px;
  height: 450px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.latest-products .items a .item img, .sale-items .items a .item img {
  width: 100%;
  height: 80%;
}

.latest-products .items a .item .details, .sale-items .items a .item .details {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
  width: 100%;
  height: 20%;
}

.latest-products .items a .item .details p:nth-child(1), .sale-items .items a .item .details p:nth-child(1) {
  font-size: 18px;
}

.latest-products .items a .item .details p:nth-child(2), .sale-items .items a .item .details p:nth-child(2) {
  color: #646464;
}

.latest-products .items a .item .details .cart-fav, .sale-items .items a .item .details .cart-fav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 10px;
}

.latest-products .items a .item .details .cart-fav i, .sale-items .items a .item .details .cart-fav i {
  font-size: 17px;
  margin: 2px;
}

.latest-products .items a .item:hover, .sale-items .items a .item:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.view-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  min-height: 500px;
  margin: 50px;
  color: #292929;
}

.view-item > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 500px;
  margin: 10px 20px;
}

footer {
  width: 100%;
  color: white;
  background: #292929;
}

footer .we-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  min-height: 350px;
}

footer .we-offer .title {
  font-size: 30px;
  font-weight: bold;
}

footer .we-offer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .we-offer div .offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  width: 350px;
  height: 200px;
  padding: 10px;
  margin: 20px;
  border: 1px solid #646464;
}

footer .we-offer div .offer i {
  font-size: 40px;
  margin-bottom: 20px;
}

footer .we-offer div .offer p:nth-child(1) {
  font-weight: bold;
  font-size: 30px;
}

footer .we-offer div .offer p:nth-child(2) {
  font-size: 20px;
}

footer .main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 300px;
}

footer .main-footer .footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  margin: 30px;
}

footer .main-footer .footer-section p:nth-child(1) {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

footer .main-footer .customer-service a {
  color: white;
  font-size: 17px;
  padding-bottom: 5px;
}

footer .main-footer .subscribe input {
  width: 300px;
  border: 0px;
  outline: none;
  padding: 10px;
}

footer .main-footer .subscribe .btn-subscribe {
  color: white;
  background-color: #292929;
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 14px;
  margin-top: 20px;
  width: 300px;
  text-align: center;
}

footer .main-footer .subscribe .btn-subscribe:hover {
  background-color: white;
  color: #646464;
}

.admin-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow-y: hidden;
  min-height: 100vh;
}

.admin-body .hamburger {
  display: none;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: transparent;
  color: #292929;
  outline: none;
  border: 0;
  margin: 10px;
}

.admin-body .hamburger.show {
  display: block;
}

.admin-body .admin-nav {
  width: 400px;
  height: 100%;
  position: relative;
  max-height: 100vh;
}

.admin-body .admin-nav .navigation-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #161616;
  height: 100vh;
}

.admin-body .admin-nav .navigation-admin a {
  color: white;
  padding: 11px;
}

.admin-body .admin-nav .navigation-admin a:hover {
  color: #646464;
}

.admin-body .admin-nav .navigation-admin a.logout {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: auto;
}

.admin-body .admin-nav .navigation-admin a.fold-accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin-body .admin-nav .navigation-admin a.fold-accordion i {
  margin-left: auto;
  margin-right: 10px;
}

.admin-body .admin-nav .navigation-admin .active {
  background: #202020;
}

.admin-body .admin-nav .navigation-admin .accordion {
  max-height: 0px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
}

.admin-body .admin-nav .navigation-admin .accordion a {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px;
}

.admin-body .admin-nav .navigation-admin .accordion a:hover {
  color: #646464;
}

.admin-body .admin-nav .navigation-admin .accordion.hide-accordion {
  max-height: 500px;
}

.admin-body .admin-nav.hide-nav {
  width: 0px;
  left: -400px;
}

.admin-body .admin-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  overflow-x: auto;
  padding: 10px;
}

.admin-body .admin-main .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 25px;
}

.admin-body .admin-main .login-form input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
}

.admin-body .admin-main .login-form .margin {
  margin: 10px;
}

.admin-body .admin-main .login-form .input-container {
  width: 100%;
  height: 40px;
  position: relative;
}

.admin-body .admin-main .login-form input[type=text], .admin-body .admin-main .login-form input[type=password] {
  padding: 15px;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.admin-body .admin-main .login-form input[type=text]:focus, .admin-body .admin-main .login-form input[type=password]:focus {
  border-bottom: 1px solid #292929;
}

.admin-body .admin-main .login-form input[type=submit] {
  background: #292929;
  color: white;
  margin: 20px 10px;
}

.admin-body .admin-main .login-form .field-icon {
  float: right;
  position: relative;
  right: 10px;
  top: -29px;
  z-index: 2;
}

.admin-body .admin-main .login-form .invalid-username, .admin-body .admin-main .login-form .invalid-password {
  border-bottom: 1px solid #fc0606 !important;
}

.admin-body .admin-main .login-form .invalid-username:focus, .admin-body .admin-main .login-form .invalid-password:focus {
  border-bottom: 1px solid #292929 !important;
}

.admin-body .admin-main .login-form .tooltip-username, .admin-body .admin-main .login-form .tooltip-password {
  visibility: hidden;
  width: 150px;
  background-color: #f51111;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
  top: 3px;
  left: 105%;
}

.admin-body .admin-main .login-form .tooltip-username::after, .admin-body .admin-main .login-form .tooltip-password::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #f51111 transparent transparent;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper {
  min-width: 497px;
  max-width: 900px;
  margin: 0 auto;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper #dtHorizontalVerticalExample th {
  white-space: nowrap;
  min-width: 80px;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper #dtHorizontalVerticalExample td:not(:first-child):not(:last-child):not(:nth-last-child(2)) {
  white-space: nowrap;
  min-width: 130px;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper #dtHorizontalVerticalExample td:not(:last-child):not(:nth-last-child(2)) {
  white-space: nowrap;
  padding: 1px !important;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper table.dataTable thead th {
  padding-left: 15px;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper table.dataTable thead .sorting:after, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper table.dataTable thead .sorting:before, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper table.dataTable thead .sorting_asc:after,
.admin-body .admin-main .dtHorizontalVerticalExampleWrapper table.dataTable thead .sorting_asc:before, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper table.dataTable thead .sorting_asc_disabled:after,
.admin-body .admin-main .dtHorizontalVerticalExampleWrapper table.dataTable thead .sorting_asc_disabled:before, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper table.dataTable thead .sorting_desc:after,
.admin-body .admin-main .dtHorizontalVerticalExampleWrapper table.dataTable thead .sorting_desc:before, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper table.dataTable thead .sorting_desc_disabled:after,
.admin-body .admin-main .dtHorizontalVerticalExampleWrapper table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper table.dataTable thead .no-sort {
  cursor: auto;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper table.dataTable thead .no-sort:after, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper table.dataTable thead .no-sort:before {
  display: none;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper table.dataTable thead .custom-checkbox {
  left: 15px;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper table.dataTable thead .delete-all, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper table.dataTable thead .disabled-delete-all, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper table.dataTable thead .duplicate-all, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper table.dataTable thead .restore-all, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper table.dataTable thead .disabled-restore-all {
  display: none;
  left: 10px;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .custom-control-input:checked ~ .custom-control-label::before, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper .custom-control-input:indeterminate ~ .custom-control-label::before {
  color: #fff;
  border-color: #292929;
  background-color: #292929;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: rgba(0, 0, 0, 0.2);
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .my-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .btn {
  position: relative;
  left: 20px;
  z-index: 1;
  padding: 6px !important;
  margin: 0 !important;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .form-control:focus {
  border-color: #646464;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .page-item.active .page-link {
  background-color: #292929 !important;
  border-color: #292929 !important;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .delete, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper .disabled-delete, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper .delete-all, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper .disabled-delete-all, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper .add, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper .duplicate, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper .duplicate-all, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper .restore, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper .disabled-restore, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper .restore-all, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper .disabled-restore-all {
  position: relative;
  left: 20px;
  top: 3px;
  z-index: 1;
  margin: 0 !important;
  font-size: 17px;
  color: #292929;
  background-color: transparent;
  border: none;
  outline: none;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .editable {
  width: 100%;
  height: 100%;
  padding: 15px;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  border: none;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .editable:focus {
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .dropdown {
  width: 100%;
  padding: 15px;
  white-space: nowrap;
  min-width: 180px;
  border: none;
  outline: none;
  background: transparent;
  -webkit-transition: none;
  transition: none;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .dropdown:focus {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 14px 30px 15px 14px;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .dropdown1 {
  width: 100%;
  padding: 15px;
  white-space: nowrap;
  min-width: 120px;
  border: none;
  outline: none;
  background: transparent;
  -webkit-transition: none;
  transition: none;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .dropdown1:focus {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 14px 30px 15px 14px;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper select.dropdown, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper select.dropdown1 {
  padding: 15px 30px 15px 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper select.dropdown:hover, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper select.dropdown:focus, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper select.dropdown1:hover, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper select.dropdown1:focus {
  background: transparent url("http://cdn.onlinewebfonts.com/svg/img_295694.svg") no-repeat 155px;
  background-size: 10px;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .date::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  display: none;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .date::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  color: transparent;
  background: transparent;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .date:hover, .admin-body .admin-main .dtHorizontalVerticalExampleWrapper .date:focus {
  background: transparent url("http://cdn.onlinewebfonts.com/svg/img_295694.svg") no-repeat 155px;
  background-size: 10px;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .image {
  width: 100%;
  height: 100%;
  padding: 13px;
  margin: 0px;
  white-space: nowrap;
  border: none;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .image:focus {
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .imageUpdate {
  display: none;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .imageLabel {
  width: 100%;
  height: 100%;
  padding: 16px 14px;
  margin: 0px;
  white-space: nowrap;
  border: none;
  -webkit-transition: none;
  transition: none;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .imageLabel:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 13px;
  outline: none;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper .fa-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.admin-body .admin-main .dtHorizontalVerticalExampleWrapper.max-view {
  max-width: 1200px;
}

@media only screen and (max-width: 1300px) {
  .latest-products .items .item, .sale-items .items .item {
    width: 270px;
  }
}
/*# sourceMappingURL=style.css.map */